body{
    background: rgb(255, 255, 255);
    font-family: hint;

}
@font-face {
    font-family: hint;
    src: url(../fonts/Hind/Hind-SemiBold.ttf);
}
@font-face {
    font-family: hint1;
    src: url(../fonts/Hind/Hind-Medium.ttf);
}
@font-face {
    font-family: fira;
    src: url(../fonts/Fira_Sans/Fira_Sans/FiraSans-Bold.ttf);
}
@font-face {
    font-family: cal;
    src: url(../fonts/Calvert/Calvert/CalvertMTStd-Bold.otf);
}
.back{
    background: linear-gradient(137deg, #d97f35, #ed69fb, #ea9f21, #8334a7);
    background-size: 700% 700%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;

}
.b-nav{
   height: 90px;
   background: #f8f8f8;
   box-shadow: 1px 1px 0.2pc rgb(150, 150, 150);
}

.logo{
   
    width: 18%;
}
.b-style{
     width: 15vh;
     padding: 1%;
     border-radius: 50px;
     background: #e26c28;
     font-weight: bolder;
     color: #fafafa;


     
}
.b-style:hover{
    background:none;
    border:1px solid #e26c28;
    color: #e26c28;
    box-shadow: 1px 1px 0.5pc #e26c28;
    
}
.d-m{
    display: none;
    font-family: hint1;
    border: none;
    box-shadow: 1px 1px 0.5pc rgb(168, 166, 166);
    
}
.dropdown:hover .d-m {display: block;}
.n-1{
    
    
    text-decoration: none;
    padding: 20px;
    color: rgb(70, 69, 69);
}



.n-1:hover{
    color: #e26c28;
    border-bottom: 2px  solid #e26c28;
    
}
.bg1{
    width: 70%;
    margin-top: 10%;
    float: right;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.content{
    margin-top: 10%;
    font-family: cal;
    
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@keyframes AnimationName {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.spk{
    color: #f8f8f8;
}
.stick{
    
    background: white;
    
    
}
.color{
    color: #e26c28;
}
.cardproduct{
    border-radius: 16px;
    
    margin-top: 10%;
 
    box-shadow: 1px 3px 5px 0.5px rgb(167, 166, 166);
    

}
.cardproduct:hover{
    border-radius: 16px;
    width: 20%;
    margin-top: 10%;
    
    box-shadow: 1px 5px 5px 0.5px rgb(128, 128, 128);
    
    

}
.data3:hover{
    color: blueviolet;
    fill: blueviolet;
}
.textar:hover{
    color: black;
}
.service{
    font-family: fira;
    letter-spacing: 3px;
}
